/python-code
/postgres
/backend-code/node_modules
/backend-code/public/build
/backend-code/public/hot
/backend-code/public/storage
/backend-code/storage/*.key
/backend-code/vendor
/backend-code/.env
/backend-code/.env.backup
/backend-code/.env.production
/backend-code/.phpunit.result.cache
/backend-code/Homestead.json
/backend-code/Homestead.yaml
/backend-code/auth.json
/backend-code/npm-debug.log
/backend-code/yarn-error.log
/backend-code/.fleet
/backend-code/.idea
/backend-code/.vscode
/backend-code/public/videos
/frontend-code/node_modules
/frontend-code/*.log*
/frontend-code/.nuxt
/frontend-code/.nitro
/frontend-code/.cache
/frontend-code/.output
/frontend-code/.env
/frontend-code/dist
/frontend-code/utils
/frontend-code/composables
/frontend-code/middleware
