//********************
//* color palette
//********************

$transparent: transparent;
$color-1: #F2F3F8;
$color-2: #FFFFFF;
$color-3: #32977F;
$color-4: #59AB97;
$color-5: #000000; // text
$color-6: #FFFFFF; // text
$color-7: #F9FAFB; // btn
$color-8: #F9FAFB;// btn:hover
$color-9: #FFFFFF; // spinner, range-slider
$color-10: #FFFFFF; // icons
$color-11: #999999; // scrollbar
$color-12: #333333; // scrollbar
$color-13: #E7E7E7;
$color-14: #D0D5DD;
$color-15: #344054;
$color-16: #667085;
$color-17: #666666;
$color-18: #EAECF0;
$color-19: #F9F5FF;
$color-20: #7F56D9;
$color-21: #EBEBEB;
$color-22: #F25755;
$color-23: #FFF6F2;
$color-24: #F5F5F5;
$color-25: #00AE65;
$color-26: #E9FFFA;
$color-27: #F2F4F7;
$color-28: #00A3FF;
$color-29: #b8cbea;
$color-30: #f5f8ff;
$color-31: #dfe9fd;
$color-32: #1D2939;
$color-33: #292B39;
$color-34: #101828;
$color-35: #FBFBFB;
$color-36: #EAEAEA;
$color-37: #1F83DF;


$color-38: #BBE6A5;
$color-39: #BFCAD3;
$color-40: #C4C3C7;
$color-41: #C9D2DA;
$color-42: #CCE8E2;
$color-43: #D66C60;
$color-44: #D8F5EE;
$color-45: #E2E7EB;
$color-46: #E56455;
$color-47: #E6D5A5;
$color-48: #E6E6E6;
$color-49: #FF0000;
$color-50: #BA5636;
$color-51: #F5F5F5;
$color-52: #F8F8F8;
$color-53: #FA988D;
$color-54: #FAF7CF;
$color-55: #FAFAFA;
$color-56: #FFAFA6;
$color-57: #A5E6E6;
$color-58: #A94442;
$color-59: #AFAABF;
$color-60: #B3C0C7;
$color-61: #C7254E;
$color-62: #CCCCCC;
$color-63: #D9EDF7;
$color-64: #DDDDDD;
$color-65: #DFDFDF;
$color-66: #DFF0D8;
$color-67: #E0DDEB;
$color-68: #E3E3E3;
$color-69: #E5E5E5;
$color-70: #E67C73;
$color-71: #ECE9F5;
$color-72: #EDEBF5;
$color-73: #F2DEDE;
$color-74: #F5F5F5;
$color-75: #F7F7F7;
$color-76: #F8F8F8;
$color-77: #F9F2F4;
$color-78: #F9F9F9;
$color-79: #FCF8E3;
$color-80: #FFFFFF;
$color-81: #FFFFFF;
$color-82: #DFDDF2;
$color-86: #FFFFFF;
$color-90: #FFFFFF;
$color-91: #FFFFFF;
$color-92: #3A3A3A;
$color-93: #F5F7F8;